.container#showtodo
  /! Todo-contents
  .jumbotron
    %h1= @todo.description
    %p
    %p.date
    Submitted #{time_ago_in_words(@todo.created_at)} Ago |
    %span
    |  by 
    = link_to @todo.user.username, "/users/#{@todo.user_id}"
  .form-group-edit
  .row#back_btn
    .col-sm-offset-2.col-sm-10
      = link_to "Back", todos_path, class: "btn btn-primary Back", id: "btn_show"
      - if can? :update, @todo
        = link_to 'Edit', edit_todo_path, class: "btn btn-primary Back", id: "btn_show" 
        = link_to 'Delete', todo_path,class: "btn btn-primary Back",id: "btn_show",  method: :delete, data: { confirm: 'Are you sure?' }